{% extends 'base.html' %}

{% block content %}
    <h3>List of files:</h3>
    <table>
        <thead>
            <tr>
                <th>File name</th>
                <th>Size</th>
            </tr>
        </thead>
        <tbody>
            {% for ud in userdoc_list %}
                <tr>
                    <td><a href="{{ ud.get_link_url }}">{{ ud.name }}</a></td>
                    <td>{{ ud.doc.size }}</td>
                    {% if can_delete %}
                    <td><a href="{% url 'userdoc-delete' pk=ud.pk %}" title="Delete Doc">X</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if warning %}<br><br>
        Notice: {{ warning | safe }}
    {% endif %}

    {% if can_add %}
    <br><br>
    <h3>Add file:</h3>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_table }}
        <input class="button small" type="submit" value="Submit"/>
    </form>
    {% endif %}

{% endblock %}
