{% extends 'base.html' %}


{% block content %}
    Please login:<br>
    {% include 'registration/login_form.html' with form=form %}
    <br>
    <a href="{% url 'registration' %}">Registration</a><br>
    <a href="">Forgot</a> password?


{% endblock %}
