{% extends 'base.html' %}


{% block content %}
    <h2>Please login or register</h2>
    {% include 'registration/login_form.html' with form=login_form %}


    <br><br>
    <h3>Registration</h3>
    <form action="{% url 'registration' %}" method="post" accept-charset="utf-8">
        {% csrf_token %}
        {% for field in form %}
            <label>{{ field.label }}</label>
            {% if field.errors %}
                {{ field.errors }}
            {% endif %}
            {{ field }}
        {% endfor %}

        {% if form.errors %}
            {{ form.errors }}
        {% endif %}


        <input class="button small" type="submit" value="Submit"/>
    </form>
{% endblock %}




