<!DOCTYPE html>
<html lang="en">


    <head>
        <meta charset="utf-8">
    </head>



    <body>
        <div class="top_menu">
            {% if user.is_authenticated %}
                <a href="{% url 'profile' username=user.username  %}">{{ user.username }}</a> |
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}

            {% endif %}
        </div>

        <br><br>

        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </body>

</html>